node_modules/.vite/deps/_metadata.json
node_modules/.vite/deps/package.json
node_modules/.vite/deps/three.js
node_modules/.vite/deps/three.js.map
node_modules/.vite/deps_temp_ac3bbc40/package.json
node_modules/.vite/deps_temp_ac3bbc40/three.js
node_modules/.vite/deps_temp_ac3bbc40/three.js.map
